In [16]:
import pandas as pd
import numpy as np
import os
import re

In [23]:
directory = "rawdata"

#loop through data folder and open each file as csv. take name from disease code
df_list = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f):
        pattern = r'([A-Z]\d{3})'
        match = re.search(pattern, f)
        title = match.group(1) 
        title = pd.read_excel(f)
        df_list.append(title)
        #print(title[:4])

/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [18]:
#concat all disease datasets below each other
long_df = pd.concat(df_list, axis = 0)

ValueError: No objects to concatenate

In [ ]:
long_df.columns
long_df.head()

,disease_code,yr-month,2017년 01월,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2017년 02월,Unnamed: 8,Unnamed: 9,...,Unnamed: 180,Unnamed: 181,YR-MONTH,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,진료년월
0,disease_code,Region,num_patients,len_hospital_stay,num_insurance_claims,insurance_cost,outpocket_costs,num_patients,len_hospital_stay,num_insurance_claims,...,요양급여비용총액,보험자부담금,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,J340,Total,"37,639","53,440","53,322","833,756","606,384","38,850","55,260","55,175",...,"1,046,269","768,048",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,J340,Seoul,"7,626","10,990","10,987","170,220","123,653","7,926","11,453","11,439",...,"221,859","162,888",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,J340,Busan,"2,239","3,620","3,620","55,460","40,644","2,180","3,762","3,751",...,"72,171","53,351",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,J340,Incheon,"2,095","2,959","2,948","45,887","33,413","2,253","3,119","3,115",...,"46,095","34,149",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#long_df.head()
long_df.rename(columns = {"Unnamed: 0": "disease_code", "yr-month": "region"}, inplace = True)

In [ ]:
#save this column to concat later
disease_code = long_df["disease_code"]
region = long_df["region"]

In [ ]:
region_lst = region.tolist()

In [ ]:
#filter columns in format "2017년 1월". these contain the number of patients for each disease
pattern = r'\d{4}년 \d{2}월'

# Use the filter method to keep only columns matching the pattern
filtered_df = long_df.filter(regex=pattern, axis=1)
filtered_df.head()

,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,2017년 10월,...,2019년 03월,2019년 04월,2019년 05월,2019년 06월,2019년 07월,2019년 08월,2019년 09월,2019년 10월,2019년 11월,2019년 12월
0,num_patients,num_patients,환자수,환자수,환자수,환자수,환자수,환자수,환자수,환자수,...,환자수,환자수,환자수,환자수,환자수,환자수,환자수,환자수,환자수,환자수
1,"37,639","38,850","45,467","43,183","37,527","30,031","22,114","26,788","40,215","34,182",...,"34,626","39,366","37,043","24,496","22,546","21,679","30,150","35,611","39,671","42,644"
2,"7,626","7,926","9,895","9,839","8,321","6,489","4,698","5,731","8,612","7,157",...,"7,961","9,437","8,425","5,386","4,999","4,714","6,687","8,157","9,121","9,366"
3,"2,239","2,180","2,162","1,965","1,857","1,506","1,159","1,360","1,773","1,737",...,"1,894","2,037","1,908","1,236","1,181","1,164","1,404","1,941","2,256","2,492"
4,"2,095","2,253","2,454","2,260","1,916","1,604","1,255","1,530","2,352","1,929",...,"1,882","2,039","1,991","1,346","1,217","1,201","1,713","1,936","2,139","2,097"

In [ ]:
column_values = pd.Series(region_lst)
filtered_df.insert(loc=0, column='region', value=column_values)
filtered_df.head()

,region,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,...,2019년 03월,2019년 04월,2019년 05월,2019년 06월,2019년 07월,2019년 08월,2019년 09월,2019년 10월,2019년 11월,2019년 12월
0,Region,num_patients,num_patients,환자수,환자수,환자수,환자수,환자수,환자수,환자수,...,환자수,환자수,환자수,환자수,환자수,환자수,환자수,환자수,환자수,환자수
1,Total,"37,639","38,850","45,467","43,183","37,527","30,031","22,114","26,788","40,215",...,"34,626","39,366","37,043","24,496","22,546","21,679","30,150","35,611","39,671","42,644"
2,Seoul,"7,626","7,926","9,895","9,839","8,321","6,489","4,698","5,731","8,612",...,"7,961","9,437","8,425","5,386","4,999","4,714","6,687","8,157","9,121","9,366"
3,Busan,"2,239","2,180","2,162","1,965","1,857","1,506","1,159","1,360","1,773",...,"1,894","2,037","1,908","1,236","1,181","1,164","1,404","1,941","2,256","2,492"
4,Incheon,"2,095","2,253","2,454","2,260","1,916","1,604","1,255","1,530","2,352",...,"1,882","2,039","1,991","1,346","1,217","1,201","1,713","1,936","2,139","2,097"

In [ ]:
filtered_df.set_index(disease_code, inplace=True, drop = True)
filtered_df.head()

NameError: name 'filtered_df' is not defined

In [ ]:
filtered_df.drop(['disease_code'], axis = 0, inplace=True)

NameError: name 'filtered_df' is not defined

In [ ]:
filtered_df.rename(columns=lambda x: x.replace('년 ', '-').replace('월', ''), inplace=True)
filtered_df.columns

/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_24824/2749127317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns=lambda x: x.replace('년 ', '-').replace('월', ''), inplace=True)

Index(['region', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05',
       '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11',
       '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05',
       '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11',
       '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05',
       '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11',
       '2019-12'],
      dtype='object')

In [ ]:
filtered_df.shape

(127, 37)

In [ ]:
#clean same data from 2020-2022
directory = "rawdata"

#loop through data folder and open each file as csv. take name from disease code
df_list_2022 = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f):
        title = filename.split('.')[0]
        title = pd.read_excel(f)
        df_list_2022.append(title)
        #print(title[:4])

/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
long_df_2022 = pd.concat(df_list_2022, axis = 0)

long_df_2022.columns = long_df_2022.iloc[1]
long_df_2022.drop([0, 1], axis = 0, inplace = True)

In [ ]:
long_df_2022.head()

1,NaN,region,2020년 01월,NaN,NaN,NaN,NaN,2020년 02월,NaN,NaN,...,2022년 11월,NaN,NaN,NaN,NaN,2022년 12월,NaN,NaN,NaN,NaN
2,항목,요양기관소재지구분,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,환자수,내원일수,청구건수,...,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금
3,J411,계,23217,33143,32755,594281,451372,15506,22823,22494,...,8690,11421,11326,224021,172093,10595,13933,13829,279185,215034
4,J411,서울,2699,3642,3642,63931,45874,1706,2402,2377,...,1354,1665,1665,32560,23378,1524,1940,1941,36813,26866
5,J411,부산,1346,2049,2045,33118,25678,835,1323,1317,...,512,702,702,11793,9502,633,881,878,16849,13988
6,J411,인천,1609,2353,2346,40351,30146,826,1199,1186,...,367,477,477,9450,7022,499,638,638,13457,9920

In [ ]:

print(region_2022)
print(disease_code_2022)

2     요양기관소재지구분
3             계
4            서울
5            부산
6            인천
        ...
16           전남
17           경북
18           경남
19           제주
20           세종
Name: region, Length: 133, dtype: object
2       항목
3     J411
4     J411
5     J411
6     J411
      ...
16    I269
17    I269
18    I269
19    I269
20    I269
Name: nan, Length: 133, dtype: object

In [ ]:
long_df_2022.columns.values[0] = "disease_code_2022"

long_df_2022.drop(index = 2, axis = 0, inplace = True)

In [ ]:
long_df_2022.head()

1,disease_code_2022,region,2020년 01월,NaN,NaN,NaN,NaN,2020년 02월,NaN,NaN,...,2022년 11월,NaN,NaN,NaN,NaN,2022년 12월,NaN,NaN,NaN,NaN
3,J411,계,23217,33143,32755,594281,451372,15506,22823,22494,...,8690,11421,11326,224021,172093,10595,13933,13829,279185,215034
4,J411,서울,2699,3642,3642,63931,45874,1706,2402,2377,...,1354,1665,1665,32560,23378,1524,1940,1941,36813,26866
5,J411,부산,1346,2049,2045,33118,25678,835,1323,1317,...,512,702,702,11793,9502,633,881,878,16849,13988
6,J411,인천,1609,2353,2346,40351,30146,826,1199,1186,...,367,477,477,9450,7022,499,638,638,13457,9920
7,J411,대구,1014,1586,1576,29360,22612,663,1104,1078,...,281,443,443,8873,7197,366,538,538,11534,9286

In [ ]:
disease_code_2022 = long_df_2022['disease_code_2022']
region_2022 = long_df_2022['region']

In [ ]:
#filter columns titled "환자수" only
#concat (axis=1) with previous cleaned_df
filtered_df_2022 = long_df_2022.filter(regex=r"\d{4}년 \d{2}월", axis=1)
filtered_df_2022.rename(columns=lambda x: x.replace('년 ', '-').replace('월', ''), inplace=True)
filtered_df_2022.set_index(disease_code_2022, inplace = True)
filtered_df_2022.insert(0, 'region_2022', region_2022.values)

filtered_df_2022.head()

NameError: name 'long_df_2022' is not defined

In [ ]:
#merge filtered_df and filtered_df_2022
final_df = filtered_df.join(filtered_df_2022, lsuffix = "", rsuffix = "")
final_df.drop("항목", axis = 0, inplace = True)

In [ ]:
final_df.head()
final_df[:-1]

,region,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,...,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12
disease_code,,,,,,,,,,,,,,,,,,,,,
I109,Total,"3,045,458","3,016,243","3,214,875","3,037,002","3,196,102","3,118,518","3,083,318","3,121,807","3,295,204",...,3502077,3401676,3486519,3391991,3397685,3464540,3390569,3415096,3391019,3551199
I109,Total,"3,045,458","3,016,243","3,214,875","3,037,002","3,196,102","3,118,518","3,083,318","3,121,807","3,295,204",...,592349,572267,584785,571225,574451,580380,574580,578894,568989,603934
I109,Total,"3,045,458","3,016,243","3,214,875","3,037,002","3,196,102","3,118,518","3,083,318","3,121,807","3,295,204",...,223584,216972,223837,216947,215958,220315,215590,216750,215651,225594
I109,Total,"3,045,458","3,016,243","3,214,875","3,037,002","3,196,102","3,118,518","3,083,318","3,121,807","3,295,204",...,200222,195261,199060,193310,195313,199011,194630,196944,194786,205240
I109,Total,"3,045,458","3,016,243","3,214,875","3,037,002","3,196,102","3,118,518","3,083,318","3,121,807","3,295,204",...,173490,167803,172042,167491,166715,170448,166592,167662,167894,175559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
J411,Sejong,2,-,3,1,1,-,1,2,1,...,243,348,249,150,118,175,171,171,205,276
J411,Sejong,2,-,3,1,1,-,1,2,1,...,453,628,366,260,233,331,342,355,380,436
J411,Sejong,2,-,3,1,1,-,1,2,1,...,945,751,460,289,378,568,456,418,517,569
J411,Sejong,2,-,3,1,1,-,1,2,1,...,689,518,283,197,241,326,307,352,464,626
J411,Sejong,2,-,3,1,1,-,1,2,1,...,291,219,138,95,98,137,128,153,219,333

In [ ]:
final_df.to_csv('data/disease.csv')

In [ ]:
directory = "data"

#loop through data folder and delete everything exceot disease.csv
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f) and filename != "disease.csv":
        os.remove(f)
       # print(f, "has been removed")

data/p-ollution health dataset - j340.csv has been removed
data/p-ollution health dataset - J180.csv has been removed
data/p-ollution health dataset - J342.csv has been removed
data/p-ollution health dataset - J411.csv has been removed
data/p-ollution health dataset - I109.csv has been removed
data/p-ollution health dataset - I269.csv has been removed
data/p-ollution health dataset - I693.csv has been removed

In [ ]:
directory = "rawdata"

#loop through rawdata folder and delete everything exceot disease.csv 
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f) and filename != "disease.csv":
        os.remove(f)
       # print(f, "has been removed")

In [ ]:
dis = pd.read_csv('data/disease.csv')
dis[1000:1050]

,disease_code,region,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,...,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12
1000,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,278,336,273,383,294,267,518,744,654,734
1001,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,900,715,557,586,704,859,1555,1805,1744,1711
1002,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,1126,1128,1095,1298,1364,1000,1715,2171,1726,1728
1003,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,370,394,373,512,536,520,792,1124,862,885
1004,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,527,564,380,300,328,466,517,474,586,541
1005,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,807,835,1252,1349,1310,981,1982,2782,2268,1686
1006,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,216,273,391,412,356,351,432,858,669,719
1007,J180,Seoul,"7,066","5,623","7,856","7,915","6,507","5,590","3,968","3,562",...,15,44,35,54,42,46,119,123,76,46
1008,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,14709,14457,13719,15913,16537,14889,24755,30414,27046,26114
1009,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,2878,2202,1896,2008,2350,2169,3008,4101,3890,3797
1010,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,713,629,699,799,896,849,1161,1500,1458,1246
1011,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,541,664,574,979,805,565,1265,1505,1345,1511
1012,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,975,1170,862,966,1129,952,1221,1564,1595,1721
1013,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,581,590,464,813,736,576,1628,1543,1067,1096
1014,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,927,921,935,1117,1134,1150,1684,1919,1814,1908
1015,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,400,403,434,442,433,312,615,860,771,643
1016,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,3172,3237,3155,3587,3787,3547,6082,6869,6012,5654
1017,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,287,361,350,326,346,294,492,499,522,504
1018,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,278,336,273,383,294,267,518,744,654,734
1019,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,900,715,557,586,704,859,1555,1805,1744,1711
1020,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,1126,1128,1095,1298,1364,1000,1715,2171,1726,1728
1021,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,370,394,373,512,536,520,792,1124,862,885
1022,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,527,564,380,300,328,466,517,474,586,541
1023,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,807,835,1252,1349,1310,981,1982,2782,2268,1686
1024,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,216,273,391,412,356,351,432,858,669,719
1025,J180,Busan,"1,841","1,610","1,943","2,368","1,951","1,410","1,126","1,090",...,15,44,35,54,42,46,119,123,76,46
1026,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,14709,14457,13719,15913,16537,14889,24755,30414,27046,26114
1027,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,2878,2202,1896,2008,2350,2169,3008,4101,3890,3797
1028,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,713,629,699,799,896,849,1161,1500,1458,1246
1029,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,541,664,574,979,805,565,1265,1505,1345,1511
1030,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,975,1170,862,966,1129,952,1221,1564,1595,1721
1031,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,581,590,464,813,736,576,1628,1543,1067,1096
1032,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,927,921,935,1117,1134,1150,1684,1919,1814,1908
1033,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,400,403,434,442,433,312,615,860,771,643
1034,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,3172,3237,3155,3587,3787,3547,6082,6869,6012,5654
1035,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,287,361,350,326,346,294,492,499,522,504
1036,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,278,336,273,383,294,267,518,744,654,734
1037,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,900,715,557,586,704,859,1555,1805,1744,1711
1038,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,1126,1128,1095,1298,1364,1000,1715,2171,1726,1728
1039,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,370,394,373,512,536,520,792,1124,862,885
1040,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,527,564,380,300,328,466,517,474,586,541
1041,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,807,835,1252,1349,1310,981,1982,2782,2268,1686
1042,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,216,273,391,412,356,351,432,858,669,719
1043,J180,Incheon,"1,364","1,165","1,457","1,789","1,578","1,066",861,781,...,15,44,35,54,42,46,119,123,76,46
1044,J180,Daegu,"1,691","1,518","1,744","1,976","1,826","1,281",978,762,...,14709,14457,13719,15913,16537,14889,24755,30414,27046,26114
1045,J180,Daegu,"1,691","1,518","1,744","1,976","1,826","1,281",978,762,...,2878,2202,1896,2008,2350,2169,3008,4101,3890,3797
1046,J180,Daegu,"1,691","1,518","1,744","1,976","1,826","1,281",978,762,...,713,629,699,799,896,849,1161,1500,1458,1246
1047,J180,Daegu,"1,691","1,518","1,744","1,976","1,826","1,281",978,762,...,541,664,574,979,805,565,1265,1505,1345,1511
1048,J180,Daegu,"1,691","1,518","1,744","1,976","1,826","1,281",978,762,...,975,1170,862,966,1129,952,1221,1564,1595,1721
1049,J180,Daegu,"1,691","1,518","1,744","1,976","1,826","1,281",978,762,...,581,590,464,813,736,576,1628,1543,1067,1096