In [212]:
import pandas as pd
import numpy as np
import os
import re

In [213]:
directory = "disease_data"

#loop through data folder and open each file as csv. take name from disease code
df_list = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f):
        pattern = r'([A-Z]\d{3})'
        match = re.search(pattern, f)
        title = match.group(1) 
        title = pd.read_excel(f)
        df_list.append(title)
        #print(title[:4])

/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [214]:
#concat all disease datasets below each other
long_df = pd.concat(df_list, axis = 0)

In [215]:
long_df.columns
long_df[:20]

,"4단질병_요양기관소재지별현황(단위_명, 일, 건, 천원)_202001_202212",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 172,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,진료년월,2020년 01월,NaN,NaN,NaN,NaN,2020년 02월,NaN,NaN,...,2022년 11월,NaN,NaN,NaN,NaN,2022년 12월,NaN,NaN,NaN,NaN
2,항목,요양기관소재지구분,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,환자수,내원일수,청구건수,...,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금
3,J411,계,23217,33143,32755,594281,451372,15506,22823,22494,...,8690,11421,11326,224021,172093,10595,13933,13829,279185,215034
4,J411,서울,2699,3642,3642,63931,45874,1706,2402,2377,...,1354,1665,1665,32560,23378,1524,1940,1941,36813,26866
5,J411,부산,1346,2049,2045,33118,25678,835,1323,1317,...,512,702,702,11793,9502,633,881,878,16849,13988
6,J411,인천,1609,2353,2346,40351,30146,826,1199,1186,...,367,477,477,9450,7022,499,638,638,13457,9920
7,J411,대구,1014,1586,1576,29360,22612,663,1104,1078,...,281,443,443,8873,7197,366,538,538,11534,9286
8,J411,광주,320,461,444,12473,9275,212,303,303,...,150,183,183,3123,2420,185,225,225,4207,3326
9,J411,대전,842,1057,1057,16154,12684,607,790,790,...,183,221,221,3441,2773,194,242,238,4631,3656
10,J411,울산,516,931,887,21280,16490,395,728,710,...,213,293,293,4010,2821,209,283,283,4126,2884
11,J411,경기,5190,7476,7434,124808,93868,3921,5846,5815,...,2085,2784,2781,53325,41216,2516,3361,3336,70409,54026
12,J411,강원,1521,2054,2055,30184,23328,913,1247,1247,...,447,624,624,9819,8037,549,771,771,11933,9564
13,J411,충북,958,1263,1263,22661,17105,629,838,838,...,321,395,393,7765,6144,429,504,504,9174,7117
14,J411,충남,1400,1957,1957,30734,24216,859,1201,1187,...,990,1242,1242,23139,18081,1250,1611,1611,31434,24345
15,J411,전북,405,593,575,11092,8639,376,549,529,...,205,272,272,5621,4377,276,363,363,8189,6268
16,J411,전남,2079,2999,2795,73963,57420,1312,2019,1856,...,380,540,483,17290,13134,436,598,553,14827,11549
17,J411,경북,1583,2354,2326,42744,32797,1173,1773,1773,...,517,696,696,15513,12067,569,751,750,16498,13030
18,J411,경남,1358,1888,1873,34018,25527,843,1198,1185,...,464,624,591,13360,10165,626,822,795,18069,13795
19,J411,제주,376,476,476,7345,5653,235,299,299,...,219,258,258,4905,3733,333,403,403,7008,5393

In [216]:
#pd.isna(long_df.iloc[1, 0]) -> code to check if individual cell is nan

In [217]:
yr_month = long_df.iloc[1].map(lambda x: "" if pd.isna(x) else x)
yr_month = yr_month.map(lambda x: x.replace("년 ", ".").replace("월", ""))
yr_month

4단질병_요양기관소재지별현황(단위_명, 일, 건, 천원)_202001_202212
Unnamed: 1                                           진료년
Unnamed: 2                                       2020.01
Unnamed: 3
Unnamed: 4
                                                  ...
Unnamed: 177                                     2022.12
Unnamed: 178
Unnamed: 179
Unnamed: 180
Unnamed: 181
Name: 1, Length: 182, dtype: object

In [218]:
info_type = long_df.iloc[2].unique()
info_type_eng = ['disease_code', 'region', 'num_patients', 'len_hospital_stay', 'num_insurance_claims', 'total_insurance_cost', 'outpocket_cost']

translation_info = dict(zip(info_type, info_type_eng))

info_type_translated = long_df.iloc[2].map(lambda x: translation_info[x])

In [219]:
horizontal_index = yr_month + " " + info_type_translated
horizontal_index

4단질병_요양기관소재지별현황(단위_명, 일, 건, 천원)_202001_202212             disease_code
Unnamed: 1                                                  진료년 region
Unnamed: 2                                        2020.01 num_patients
Unnamed: 3                                           len_hospital_stay
Unnamed: 4                                        num_insurance_claims
                                                         ...
Unnamed: 177                                      2022.12 num_patients
Unnamed: 178                                         len_hospital_stay
Unnamed: 179                                      num_insurance_claims
Unnamed: 180                                      total_insurance_cost
Unnamed: 181                                            outpocket_cost
Length: 182, dtype: object

In [220]:
long_df.columns = horizontal_index.values
long_df.head()

,disease_code,진료년 region,2020.01 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost,2020.02 num_patients,len_hospital_stay,num_insurance_claims,...,2022.11 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost,2022.12 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,진료년월,2020년 01월,NaN,NaN,NaN,NaN,2020년 02월,NaN,NaN,...,2022년 11월,NaN,NaN,NaN,NaN,2022년 12월,NaN,NaN,NaN,NaN
2,항목,요양기관소재지구분,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,환자수,내원일수,청구건수,...,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금
3,J411,계,23217,33143,32755,594281,451372,15506,22823,22494,...,8690,11421,11326,224021,172093,10595,13933,13829,279185,215034
4,J411,서울,2699,3642,3642,63931,45874,1706,2402,2377,...,1354,1665,1665,32560,23378,1524,1940,1941,36813,26866

In [221]:
long_df = long_df.drop([0,1,2], axis = 0)

In [222]:
long_df.head()

,disease_code,진료년 region,2020.01 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost,2020.02 num_patients,len_hospital_stay,num_insurance_claims,...,2022.11 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost,2022.12 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost
3,J411,계,23217,33143,32755,594281,451372,15506,22823,22494,...,8690,11421,11326,224021,172093,10595,13933,13829,279185,215034
4,J411,서울,2699,3642,3642,63931,45874,1706,2402,2377,...,1354,1665,1665,32560,23378,1524,1940,1941,36813,26866
5,J411,부산,1346,2049,2045,33118,25678,835,1323,1317,...,512,702,702,11793,9502,633,881,878,16849,13988
6,J411,인천,1609,2353,2346,40351,30146,826,1199,1186,...,367,477,477,9450,7022,499,638,638,13457,9920
7,J411,대구,1014,1586,1576,29360,22612,663,1104,1078,...,281,443,443,8873,7197,366,538,538,11534,9286

In [223]:
long_df['region'] = long_df.iloc[:, 1]
long_df['disease_code'] = long_df.iloc[:, 0]

eng_regions = ["Total", "Seoul", "Busan", "Incheon", "Daegu", "Gwangju", "Daejeon", "Ulsan", "Gyeonggi", "Gangwon", "Choongbuk", "Choongnam", "Jeonbuk", "Jeonnam", "Gyeongbuk", "Gyeongnam", "Jeju", "Sejong"]

#translate region
translation_dict = dict(zip(long_df['region'], eng_regions))
translation_dict

region = long_df['region'].map(lambda x: translation_dict[x] if x in translation_dict else x)
# region_disease_idx = region + " " + long_df['disease_code']
# region_disease_idx

In [224]:
long_df.iloc[:, 1] = region
long_df.rename(columns = {long_df.columns[1]: 'region'}, inplace = True) 
long_df.set_index(region_disease_idx, inplace=True)
long_df

,disease_code,region,2020.01 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost,2020.02 num_patients,len_hospital_stay,num_insurance_claims,...,num_insurance_claims,total_insurance_cost,outpocket_cost,2022.12 num_patients,len_hospital_stay,num_insurance_claims,total_insurance_cost,outpocket_cost,region,disease_code
Total J411,J411,Total,23217,33143,32755,594281,451372,15506,22823,22494,...,11326,224021,172093,10595,13933,13829,279185,215034,계,J411
Seoul J411,J411,Seoul,2699,3642,3642,63931,45874,1706,2402,2377,...,1665,32560,23378,1524,1940,1941,36813,26866,서울,J411
Busan J411,J411,Busan,1346,2049,2045,33118,25678,835,1323,1317,...,702,11793,9502,633,881,878,16849,13988,부산,J411
Incheon J411,J411,Incheon,1609,2353,2346,40351,30146,826,1199,1186,...,477,9450,7022,499,638,638,13457,9920,인천,J411
Daegu J411,J411,Daegu,1014,1586,1576,29360,22612,663,1104,1078,...,443,8873,7197,366,538,538,11534,9286,대구,J411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jeonnam I269,I269,Jeonnam,102,438,119,68203,50936,87,345,101,...,120,68028,48546,110,369,125,63708,46888,전남,I269
Gyeongbuk I269,I269,Gyeongbuk,200,909,240,175489,135238,165,554,180,...,247,100236,73919,200,680,235,92999,67551,경북,I269
Gyeongnam I269,I269,Gyeongnam,245,995,307,161657,118679,220,731,261,...,372,332950,268310,262,846,325,177073,129595,경남,I269
Jeju I269,I269,Jeju,68,183,79,14835,11122,59,202,69,...,85,35680,26736,57,179,71,45244,34482,제주,I269
Sejong I269,I269,Sejong,-,-,-,-,-,-,-,-,...,22,4481,3019,17,27,21,6845,5182,세종,I269

In [225]:
#save dataset with all information included

long_df.to_csv('data/disease.csv')

In [226]:
#filter columns with time info. 
pattern = r'num_patients'

# Use the filter method to keep only columns matching the pattern
num_patients = long_df.filter(regex=pattern, axis=1)
#num_patients.head()

time_col = num_patients.columns.map(lambda x: x.replace("num_patients", ""))
num_patients.columns = time_col
num_patients = num_patients.transpose()
num_patients.head()

,Total J411,Seoul J411,Busan J411,Incheon J411,Daegu J411,Gwangju J411,Daejeon J411,Ulsan J411,Gyeonggi J411,Gangwon J411,...,Gyeonggi I269,Gangwon I269,Choongbuk I269,Choongnam I269,Jeonbuk I269,Jeonnam I269,Gyeongbuk I269,Gyeongnam I269,Jeju I269,Sejong I269
2020.01,23217,2699,1346,1609,1014,320,842,516,5190,1521,...,768,153,162,98,132,102,200,245,68,-
2020.02,15506,1706,835,826,663,212,607,395,3921,913,...,748,139,147,91,133,87,165,220,59,-
2020.03,9546,1250,566,530,376,165,451,257,2308,531,...,756,148,107,86,154,106,171,230,66,1
2020.04,7199,978,413,397,243,131,284,185,1851,402,...,774,155,135,84,143,94,188,257,47,1
2020.05,6153,975,312,394,194,94,272,154,1442,385,...,710,162,120,103,149,97,185,232,51,2

In [227]:
num_patients.to_csv('data/num_patients.csv')